    /*~~~~~~~~~~~~~~~~~~~~~~~~Back ground Stuff~~~~~~~~~~~~~~~~~~~~~~*/
body{
    background-image: url("images/backgroundSmolwide.png"), url("images/backgroundSmolwidec.png");
    background-repeat: no-repeat, repeat;
    background-position: bottom right;
    background-attachment: fixed;
    background-color: #ffffff;

    /*Positioning by grid area*/
    margin-top:50px;
    display: grid;
    grid-gap: 0px;
    grid-template:
    '.  navv  . ' auto
    '.  main  .  ' auto
    '.   .    .      ' auto  /
    20%  40em  20%;  


}
.mainone{
    grid-area: main;
}
/*~~~~~~~~~~~~~~~~~~~~~~Title Page Stuff~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.styleDivOne{
    padding-top:20%;
  
}

.titleTextArea{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-right: 20%;
    width:100%;
    box-sizing: border-box;
    border: 10px solid;
    border-radius: 5px;
    border-color: #c0d0e4;
    text-align: center;
    background-color: rgb(236, 236, 248);
    font-size: 16px;
    resize: none;
}
.submitButtonTittle{
    cursor: pointer;
    background-color: #c0d0e4;
    width:100%;
    border: 10px solid;
    border-radius: 5px;
    border-color: #c0d0e4;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;

}

/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~Nav bar stuff~~~~~~~~~~~~~~~~~~~~ */
.logout{
    width: 150px;
    position: fixed;
    top: 0;
    right: 0;
}

.salesNav{
    opacity: 0.8; 
    grid-area: navv;
    margin-right: 15px;
}
li{
    
    float: right;
    background-image: url("images/tabs.png");
    
    text-align: center;	
    display: inline;
    font-size: 20px;
    color: Black;
    padding-left: 20px;
    padding-right: 20px;
}

.darker{
    border-color: #263e5c;
    background-image: url("images/tabsdark.png");
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Sales Page Stuff ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.styleDivTwo{
    opacity: 0.8;
    filter: alpha(opacity=60); 
    border: 10px solid;
    border-radius: 5px;
    border-color: #c0d0e4;
    margin-top:0%;
}
.styleDivTwo img{
    width:100%;
    float:center;
    clear:both;
    cursor: pointer;
}
.salePageHeaders{
    cursor: pointer;
    font-size: 40px;
    background-color: #c0d0e4;
    width:14.89em;
    border: 10px solid;
    border-radius: 5px;
    border-color: #c0d0e4;
    color: black;
    text-decoration: none;
    margin: 4px 2px;
    text-align: center;

}

.mecProfileDiv{
    background-color: #c0d0e4;
    border: 10px solid;
    border-radius: 5px;
    border-color: #c0d0e4;
}
.buttonStyle{
    cursor: pointer;
    background-color: black;
    width:100%;
    border: 10px solid;
    border-radius: 5px;
    border-color: black;
    color: #c0d0e4;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
}
