/* Info for marker: */
/* this CSS style sheet was used from a personal project to spice up the page, dont sweat to much about the many many unnused classes and IDs  */


/* ~~~~~~~~~~~~~~~~everything to do with the header, navigation and footer; what a gong show ~~~~~~~~~~~~~~ */
header{
    grid-area: toparea;
    background-color: rgb(240,240,240);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 6px;

}
header h1{
    font-weight: normal;
    font-size: 180%;
    float:left;
    border: 00px;
    margin: 00px;
    margin-top:13px;
    margin-bottom:13px;
    padding-left: 10px;
    clear:both;
}
header a:visited{
	color:black;
}
nav{
    padding: 0px;
    border: 0px;
    margin: 0px;
    float: right;
}
nav ul{
    padding: 0px;
    border: 0px;
    margin: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-right:10px;
    margin-top:30px;
    
}
.nav li{
    display: inline;
}

main{
    background-color:rgb(240,240,240);
}

footer{
    grid-area: footer;
    background-color: rgb(240,240,240);
    text-align: center;
}

/* ~~~~~~~~~~~~~~~~ mostly body ~~~~~~~~~~~~~~ */
main{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    
}
.mainone{
    grid-area: main;
}
.maintwo{
    grid-area: side;
}

main .title{
	
    display: block;
    margin-left: 20%;
    padding-top: 1em;
    padding-bottom:20px;
    clear:both;
    font-weight: normal;
    font-size: 180%;
    border: 00px;
    margin-top:13px;
    margin-bottom:13px;

}
main .pageTitle{
    display: block;
    margin-left: 20%;
    clear:both;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear:both;
    width:60%;
    border: 5px;

}
main p{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 80%;
}
body a{
    text-decoration: none;
}
main .input{

    display: block;
    clear:both;
    font-size: 190%;
    text-decoration:underline;
    color:blue;
}
.stylespan{
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-size: 160%;
}

.clueless{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    display: none; 
}
.forwardback{
    font-size: 80%;
    margin-left: 20%;
    color:blue;
}
textarea{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    height: 150px;
    width:60%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 10px solid rgb(43,43,43);

    border-radius: 4px;
    background-color: rgb(240,240,240);
    font-size: 16px;
    resize: none;
}
input[type=submit]{
    background-color: rgb(43,43,43);
    border: none;
    color: rgb(240,240,240);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin-left: 20%;
    float: right;
}

.bluewords{
    color: blue;
    font-size: 90%;
}
.blackbox{
    background-color: rgb(43,43,43);
    color: rgb(240,240,240);
    padding: 20px;
    font-size: 90%;
}
.pcenter{
    text-align: center;
    font-size: 200%;
	margin-left: 20%;
    margin-right: 20%;
}
.pleft{
    text-align: left;
    font-size: 90%;
	margin-left: 20%;
    margin-right: 20%;
}
.cross{
    text-decoration: line-through;
}
nav ul{
    font-size: 125%;
    clear: both;
}

nav a{
    text-decoration: none;
    color:rgb(43,43,43);
    font-size: 85%;
}

body{
    display: grid;
    grid-gap: 10px;
    grid-template:
    'toparea toparea  .  	' auto
    'side main  .' auto
    'footer footer  footer' auto  /
    20em  60em  auto;  
    
    background-color:rgb(43,43,43);
}

.biiiigdiv{
    padding-bottom: 300px;
    border-bottom: 300px;
    margin-bottom: 300px;
}
/*
@media (max-width:900px) {
    body{
        display: grid;
        grid-gap: 10px;
        grid-template:
        ' toparea    	' auto
        ' main  	' auto
        ' footer  ' auto  /
          auto ;  
    
        background-color:rgb(43,43,43);
    }
    .clueless{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100px;
    }
	nav ul{
    font-size: 110%;
}
}
*/